<div class="sidebar-logo">
  {{App_Name}}
</div>

<div class="sidebar-container">
    
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <button type="submit" style="width: 80%;" class="btn btn-outline-primary" routerLink="/" routerLinkActive="active" >HomePage</button>
      </li><br><br>
      <li>
        <button type="submit" style="width: 80%;" class="btn btn-outline-primary" routerLink="/displayUsers" routerLinkActive="active" >Display All</button>
        
      </li>
      <li class="header">Another Menu</li>
      <li>
        <button type="submit"  style="width: 80%;" class="btn btn-outline-success" routerLink="/addUser" routerLinkActive="active"  >Add Record</button>
      </li><br><br>
      <li>
        <button type="submit" style="width: 80%;" class="btn btn-outline-success" routerLink="/deleteUser" routerLinkActive="active"  >Delete Record</button>
      </li><br><br>
      <li>
        <button type="submit" style="width: 80%;" class="btn btn-outline-success" routerLink="/about" routerLinkActive="active"  >About</button>
      </li>
    </ul>
</div>
  
  
  
