<div class="content-container">

    <!-- Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{alert_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{alert_msg}}
      </div>
      <div class="modal-footer">
        <button id="alert_close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="jumbotron border">

        <section class="vh-90" style="background-color: #9A616D;">
            <div class="container py-5 h-90">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img
                          src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                          alt="login form"
                          class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                        />
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form (ngSubmit)="submit()">
          
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0">Welcome again,</span>
                            </div>
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign-in to get access</h5>
          
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email"  class="form-control form-control-lg"
                              name="email" [(ngModel)]=email placeholder="Enter a valid email address" required/>
                              <label class="form-label" >Email address</label>
                            </div>
                  
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                              <input [type]="password_type"  class="form-control form-control-lg"
                              name="password" [(ngModel)]=password placeholder="Enter password" required/>
                              <label class="form-label" >Password</label>
                            </div>

                            <!-- Show Password -->
                            <div>
                              <button type="button" [class]="class_status" (click)="show_password()"
                              style="font-size: 13px;"> {{btn_status}} </button>
                            </div>
          
                            <div class="pt-1 mb-4">
                              <button class="btn btn-dark btn-lg btn-block" type="submit" data-toggle="modal" data-target="#alert">Login</button>
                            </div>
          
                            <a class="small text-muted" href="#!">Forgot password?</a>
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;">Register here</a></p>


                            <button class="btn btn-outline-primary" style="margin-right: 5%; margin-bottom: 5%;" (click)="signInWithFB()">Log in with facebook</button>
                            <button class="btn btn-outline-primary" style="margin-right: 5%; margin-bottom: 5%;" (click)="signInWithGoogle()">Log in with Google+</button>
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
</div>
</div>

